<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
        @font-face {
            font-family: 'MyFont';
            src: url(stylesheets/x12y16pxMaruMonica.ttf);
        }    
        body {
            font-family: MyFont;
        }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
